body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    /* align-items: center;
    justify-content: center;
    display: flex; */
}
#first{
    margin-left: -5px;
    margin-top: 10px;
}
#signbtn{
    background-color: #d9eee1;
    color: black;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 95px;
    border: none;
    padding-left: 13px;
    margin-top: -12px;
    margin-left: 105px;
    font-weight: bold;
}
#loginbtn{
    background-color: #09353d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 40px;
    width: 95px;
    padding-left: 10px;
    border: none;
    border-radius: 25px;
    margin-left: -168px;
    font-weight: bold;
}
#demo1{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
#main{
    height: 500px;
    width: 350px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    box-shadow: 5px 20px 50px black;
    border-radius: 10px;
    /* display: none; */
}
#main h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 50px;
}
.input-box{
    height: 40px;
    width: 70%;
    display: block;
    margin-top: 30px;
    margin-left: 43px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
#btn1{
    height: 35px;
    width: 55%;
    margin-left: 75px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #6d44b8;
    color: white;
    border: none;
    border-radius: 5px;
}
#btn1:hover{
    background-color: black;
}
#design{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 254, 254);
    margin-top: 73px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    /* border-radius: 60% / 10%; */

}

#main-2{
    height: 500px;
    width: 350px;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    box-shadow: 5px 20px 50px black;
}
#design-2{
    height: 400px;
	background: #dcdada;
	/* border-radius: 70% / 10%; */
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
#main-2 h1{
    color: #573b8a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: -350px;
}
#main-2 .input-box-2{
    height: 40px;
    width: 70%;
    display: block;
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    margin-top: 40px;
    font-size: 15px;
    padding-left: 15px;
}
#btn2{
    height: 35px;
    width: 55%;
    font-size: 15px;
    font-weight: bold;
    background-color: #6d44b8;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 85px;
}